{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<div class="background-container">
    <img src="{% static 'svg/home/metheor.svg' %}" alt="Meteoroid 1" class="metheor metheor-1">
    <img src="{% static 'svg/home/metheor.svg' %}" alt="Meteoroid 2" class="metheor metheor-2">
    <img src="{% static 'svg/home/metheor.svg' %}" alt="Meteoroid 3" class="metheor metheor-3">
    <img src="{% static 'svg/home/meteor.svg' %}" alt="Meteor" class="meteor">
</div>
<div class="home-container">
    <div class="left-container">
        <div class="header-container">
            <h1>Welcome {{ user.username }}, to your Study Space!</h1>
            <img src="{% static 'svg/home/rocket.svg' %}" alt="Study Space" class="rocket-icon">
        </div>
        <div class="metrics">
            <div class="card days-in-orbit custom-width">
                <h3>Days in Orbit</h3>
                <div class="content">
                    <p>5</p>
                    <img src="https://i.imgur.com/CwzjbUz.png" alt="days in orbit" class="days-in-orbit pic">
                </div>
            </div>
            <div class="card weekly-mission">
                <h3>Weekly Mission</h3>
                <div class="mission-content">
                    <p>72</p>
                    <span>hours</span> 
                </div>
                <img src="https://i.imgur.com/R430hAB.png" alt="Weekly-Mission" class="weekly-mission pic">
            </div>
            <div class="card meta-hours">
                <h3>Weekly Progress</h3>
                <div class="content">
                    <p>53%</p>
                    <img src="https://i.imgur.com/GO26WoQ.png" alt="Weekly-Progress" class="weekly-progress pic">
                </div>
            </div>
        </div>
        <div class="todays-activities-container">
            <div class="divider-activities"></div>
            <div class="activities-buttons">
                <button class="activity-button">Previous</button>
                <button class="activity-button">Next</button>
                <div class="activities-input">
                    <input type="text" value="Tuesday, October 10, 2024">
                </div>
            </div>
            <div class="tasks-cards">
                <!-- Card 1 -->
                <div class="card1">
                    <h2>Review</h2>
                    <h3>Content</h3>
                    <p>Details about the content of the task.</p>
                    
                    <h3>Exercises</h3>
                    <p>Exercises related to the task.</p>
                    
                    <h3>Progress</h3>
                    <p>Progress details for Task 1.</p>
                </div>
                
                <!-- Card 2 -->
                <div class="card2">
                    <h2>Study</h2>
                    <h3>Content</h3>
                    <p>Details about the content of the task.</p>
                    
                    <h3>Exercises</h3>
                    <p>Exercises related to the task.</p>
                    
                    <h3>Progress</h3>
                    <p>Progress details for Task 2.</p>
                </div>
                
                <!-- Card 3 -->
                <div class="card3">
                    <h2>Study</h2>
                    <h3>Content</h3>
                    <p>Details about the content of the task.</p>
                    
                    <h3>Exercises</h3>
                    <p>Exercises related to the task.</p>
                    
                    <h3>Progress</h3>
                </div>
            </div>
        </div>
    </div>
        <div class="right-container">
            <div class="study-overview">
                <h2>Study Overview</h2>
            </div>
            <div class="extra-missions">
                <h2>Extra Missions</h2>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
