{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<div class="background-container">
    <img src="{% static 'svg/home/metheor.svg' %}" alt="Meteoroid 1" class="metheor metheor-1">
    <img src="{% static 'svg/home/metheor.svg' %}" alt="Meteoroid 2" class="metheor metheor-2">
    <img src="{% static 'svg/home/metheor.svg' %}" alt="Meteoroid 3" class="metheor metheor-3">
    <img src="{% static 'svg/home/meteor.svg' %}" alt="Meteor" class="meteor">
</div>
<div class="home-container">
    <div class="left-container">
        <div class="header-container">
            <h1>Welcome {{ user.username }}, to your Study Space!</h1>
            <img src="{% static 'svg/home/rocket.svg' %}" alt="Study Space" class="rocket-icon">
        </div>
        <div class="metrics">
            <div class="card days-in-orbit custom-width">
                <h3>Days in Orbit</h3>
                <div class="content">
                    <p>5</p>
                    <img src="https://i.imgur.com/CwzjbUz.png" alt="days in orbit" class="days-in-orbit pic">
                </div>
            </div>
            <div class="card weekly-mission">
                <h3>Weekly Mission</h3>
                <div class="mission-content">
                    <p>72</p>
                    <span>hours</span> 
                </div>
                <img src="https://i.imgur.com/R430hAB.png" alt="Weekly-Mission" class="weekly-mission pic">
            </div>
            <div class="card meta-hours">
                <h3>Weekly Progress</h3>
                <div class="content">
                    <p>53%</p>
                    <img src="https://i.imgur.com/GO26WoQ.png" alt="Weekly-Progress" class="weekly-progress pic">
                </div>
            </div>
        </div>
        <div class="studied-contents-title">
            <h3>Studied Contents</h3>
        </div>
        <div class="studied-contents-container">
            <img src="https://i.imgur.com/hAmFRjj.png" alt="astronaut" class="astronaut-pic">
            <p>No contents studied yet!</p>
        </div>
    </div>
    <div class="right-container">
        <div class="study-overview">
            <h2>Study Overview</h2>
        </div>
        <div class="todays-activities">
            <h2>Today's Activities</h2>
        </div>
        <div class="topics-suggestions">
            <h2>Topics Suggestions</h2>
    </div>
</div>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
