* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: rgb(255, 255, 255);
    color: white;
}

.sidebar h2 {
    font-family: "Audiowide", "Inter", sans-serif;
}

.sidebar p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 2px;
    color: #a7a7a7;
    margin-bottom: 10px;

}

.metheor {
    position: absolute;
    z-index: -1; /* Coloca o meteoro atrás do conteúdo */
    width: 100px; /* Tamanho do meteoro */
    height: auto;
}

.metheor-1 {
    top: 90%;  /* Ajuste a posição para onde quer que ele apareça */
    left: 10%;
}

.metheor-2 {
    top: 50%;
    right: 15%;
}

.metheor-3 {
    bottom: 10%;
    left: 80%;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background: #2a2a2e;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    min-width: 200px;
    position: fixed;
    top: 5%;
    bottom: 5%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    z-index: 8;
}

.divider {
    border-bottom: 3px solid #686666e7;
    margin-bottom: 8px;
}

.sidebar h2 {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 2px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    margin: 10px 0; /* Espaço entre os itens do menu */
    transition: background-color 0.3s ease; /* Transição suave */
    border-radius: 5px; /* Bordas arredondadas */
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.199); /* Fundo sutil ao passar o mouse */
}

.icon-container:hover {
    color: #00ffff; /* Mudar a cor do texto e ícone ao passar o mouse */
}

.sidebar ul li a:hover .icon-container img {
    filter: brightness(1.2); /* Aumentar o brilho do ícone ao passar o mouse */
}
.icon-container {
    display: flex; /* Usando flexbox para alinhar ícones e texto */
    align-items: center; /* Alinhamento vertical no centro */
    padding: 8px; /* Espaçamento interno */
}

.icon-container img {
    width: 24px;  /* Tamanho do ícone */
    height: 24px; /* Tamanho do ícone */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.icon-container .topics-icon {
    width: 28px;  /* Tamanho do ícone */
    height: 28px; /* Tamanho do ícone */
    margin-right: 8px; 
}

.icon-container .studySpace-icon{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    margin-left: -1px;
    margin-bottom: -10px;
}

.sidebar ul li a {
    color: rgb(255, 255, 255);  /* Mudando a cor do texto para preto para melhor contraste */
    text-decoration: none;
    display: flex;  /* Permite que a imagem e o texto fiquem lado a lado */
    align-items: center;  /* Alinha verticalmente no centro */
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.sidebar .menu-subtitle {
    margin-left: 2px;
    margin-top: 5px;
}

main {
    padding: 20px;
    margin-left: 220px; /* Ajuste essa margem para corresponder à largura da sidebar */
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.icon-container .topics-icon{
    width: 32px; 
    height: 32px;
    margin-right: 4px;
    margin-left: -4px;

}