body {
    font-family: 'Inter', sans-serif;
    background-color: #1c1c1e; 
    overflow: hidden;
}


.home-container {
    display: flex; /* Alinha os containers lado a lado */
    background-color: #1c1c1e; /* Fundo branco para o container geral */
    height: 100vh; /* Para ocupar toda a altura da tela, ajuste conforme necessário */
}

.left-container {
    flex: 0 0 60%; /* 60% de largura */
    padding: 20px; /* Espaçamento interno opcional */
    border-right: 1.5px solid #535353; /* Divisória opcional entre os containers */
}

.right-container {
    flex: 0 0 40%; /* 40% de largura */
    padding: 20px; /* Espaçamento interno opcional */
}

.metrics {
    justify-content: space-between; /* Distribui os itens igualmente */
    margin-bottom: 20px;
    margin-top: 20px; /* Espaçamento inferior */
}