body {
    font-family: 'Inter', sans-serif;
    background-color: #1c1c1e;
    overflow: hidden;
    background-image: url('https://i.imgur.com/NpHDKdL.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.meteor {
    position: absolute;
    width: 80px;
    height: auto;
    opacity: 0; 
    transition: all 0.3s ease;
    z-index: 1;
}

@keyframes meteor-move {
    0% {
        left: -50px;
        top: 20%;  
        opacity: 1;  
    }
    100% {
        left: 100vw; 
        top: 80%;  
        opacity: 0;  
    }
}


.metheor {
    position: absolute;
    width: 50px;
    height: auto;
    opacity: 1; /* Garantindo visibilidade */
    transition: all 0.3s ease;
    z-index: 1; /* Meteoros acima do fundo */
}


.metheor-1 {
    position: absolute; 
    top: 41%;
    left: 20%;
    animation: move-left-right 50s linear infinite;
}

.metheor-2 {
    position: absolute;
    top: 0%;
    left: 14%;
    animation: move-up-down 50s linear infinite;
}

.metheor-3 {
    position: absolute;
    top: 5%;
    left: 5%;
    animation: move-diagonal 50s linear infinite;
}

.home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 1; 
}

@keyframes move-left-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw - 15%)); /* Movimenta até a borda direita */
    }
    100% {
        transform: translateX(0); /* Retorna ao ponto inicial */
    }
}

@keyframes move-up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(calc(100vh - 50%)); /* Movimenta até a borda inferior */
    }
    100% {
        transform: translateY(0); /* Retorna ao ponto inicial */
    }
}

@keyframes move-diagonal {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(calc(100vw - 5%), calc(100vh - 5%)); /* Movimenta na diagonal até a borda */
    }
    100% {
        transform: translate(0, 0); /* Retorna ao ponto inicial */
    }
}

.home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 2; 
}

.left-container {
    width: 60%;
    border-right: 2px solid #5e5e5e;
    padding-right: 20px;
    z-index: 2;
}

.header-container {
    display: flex;
    align-items: center; /* Para alinhar verticalmente */
    gap: 10px; /* Espaçamento entre o texto e o ícone */
}

.rocket-icon {
    width: 50px;
    height: 50px;
    margin-left: 12px;
}

.rocket-icon:hover {
    animation: swing 2s infinite;
}

@keyframes swing {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

.right-container {
    width: 40%;
    background-color: #3f3e3e85;
    border-radius: 12px;
    padding: 15px;
    color: #fff;
    margin-left: 20px;
    height: 90vh;
}

.right-container h2 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    color: #edf100cd;
}

.study-overview {
    display: flex;
    justify-content: center;
    height: 33%;
}

.todays-activities {
    display: flex;
    justify-content: center;
    height: 33%;
    margin-top: 10px;
}

.metrics {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 35px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #00ffff; 
    border-radius: 15px;
    border: 3.5px solid #00ffff;
    width: 300px;
    height: 115px;
    text-align: center;
    background-color: #272727bd; 
    overflow: hidden; 
    box-shadow: 
        inset 0 12px 10px rgba(0, 0, 0, 0.4),
        inset 0 -12px 10px rgba(0, 0, 0, 0.1),
        0 0 8px rgba(0, 255, 255, 0.6),
        0 0 12px rgba(0, 255, 255, 0.5),
        0 0 16px rgba(0, 255, 255, 0.4);
}

.card:hover {
    background-color: #272727; 
    box-shadow: 
        inset 0 12px 10px rgba(0, 0, 0, 0.4),
        inset 0 -12px 10px rgba(0, 0, 0, 0.1),
        0 0 8px rgba(0, 255, 255, 0.6),
        0 0 12px rgba(0, 255, 255, 0.5),
        0 0 16px rgba(0, 255, 255, 0.4);
    cursor: pointer;
}

.custom-width {
    width: 250px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
}

.card h3 {
    margin-top: 5px;
    font-size: 22px;
    color: #ffffff;
}

.card p {
    font-size: 52px;
    color: #00ffff;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    text-shadow: 
        0 8px 20px rgba(0, 255, 255, 0.4);
}

.pic {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.card.meta-hours .weekly-progress.pic {
    width: 70px; 
    height: 70px;
    position: absolute;
    bottom: 1px;
}

.card.meta-hours p {
    position: absolute;
    bottom: 2px;
    left: 15px;
}

.mission-content {
    display: flex;
    align-items: center;
    margin-top: 10px; 
}

.mission-content p {
    font-size: 52px; 
    color: #00ffff;
    position: absolute;
    bottom: 1px;
    left: 12px;
}

.mission-content span {
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    left: 92px;
    font-weight: 600;
}

.todays-activities-title h2 {
    font-size: 38px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    top: 250px;
    left: 17%;
}

.todays-activities-container {
    position: relative;
    background-color: rgba(62, 61, 61, 0.345);
    border-radius: 12px;
    border: solid 3.5px #00ffff;
    padding: 20px;
    margin-top: 20px;
    height: 50vh; 
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.divider-activities {
    height: 3.5px; 
    background-color: #00ffff;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1;
}

.activities-buttons {
    display: flex;
    justify-content: space-between; /* Distribui os botões e o campo de texto igualmente */
    align-items: center; /* Alinha verticalmente ao centro */
    width: 100%;
    margin-top: 5%;
    z-index: 0;
}

.activity-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: solid 3px rgb(237, 241, 0); 
    background-color: rgba(28, 28, 30, 0.243); 
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    flex: 0 0 15%; /* Cada botão ocupará 15% da largura do container */

    box-shadow: 
        inset 0 12px 10px rgba(0, 0, 0, 0.4),
        inset 0 -12px 10px rgba(0, 0, 0, 0.1), 
        0 0 8px rgba(237, 241, 0, 0.6),       
        0 0 12px rgba(237, 241, 0, 0.5),      
        0 0 16px rgba(237, 241, 0, 0.4);       
}

.activity-button:hover {
    background-color: rgba(28, 28, 30, 0.4); 
}

.activities-input {
    flex: 1; 
    margin-left: 10px;
    margin-right: 10px;
}

.activities-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: solid 2px rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    background-color: rgba(28, 28, 30, 0.243);
    color: #fff;
    text-align: center;
}


.activity-input {
    padding: 10px;
    width: 90%;
    font-size: 16px;
    border: solid 2px #00ffff;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.studied-contents {
    background-color: #3f3e3e85; 
    color: #fff; 
    border-radius: 8px;
    padding: 20px;
    margin-top: 80px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 250px;
}

.studied-contents-title h3 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #d7d7d7;
    margin-top: 60px;
    text-align: center;
}

.studied-contents-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: #ffffff2e;
    border-radius: 12px;
    box-shadow: inset 0 12px 10px rgba(0, 0, 0, 0.4),
                inset 0 -12px 10px rgba(0, 0, 0, 0.1);

}

.studied-contents p {
    font-size: 16px;
    color: #ffffff; /* Deixar o texto branco */
}

.astronaut-pic {
    width: 200px;
    height: 200px;
    margin-left: -15px;
}
